
body {
  background-color: #fafafa;
  width: 100%;
  /*
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;*/
}

.body1 {
  width: 100%;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

  }

.box {
  border: 1px solid #00030a;
  background-color: rgb(247, 237, 241);
}

.g-btn {
  width: 100% !important;
  height: 40px !important;
  line-height: 40px !important;
  font-size: 15px !important;
}
.g-btn > div,
.g-btn > div > svg {
  width: 40px !important;
  height: 38px !important;
}


.title {
  text-align: center;
  font-weight: 700;
  font-size:80px;
  font-family:Arial, Helvetica, sans-serif;
  color:rgb(40, 96, 226);
  padding-right: 20px;
}

.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-top: calc(var(--bs-gutter-x) * 5);
  padding-right: calc(var(--bs-gutter-x) * 6);
  padding-left: calc(var(--bs-gutter-x) * 5);
  margin-top: var(--bs-gutter-y);
}

.li{
  width:200px ;
  height: 40px;
  border: 0px;
  border-radius: 10px;
  font-size:large;
  color: white;
  font-weight:3000;
  background-color:rgb(40, 96, 226);
}

.tagline {
  font-size: larger;
  color: rgba(69, 65, 65, 0.7);
  padding-left: 10px;
}

.loginbox {
  color: #181b19;
  font-size: xx-large;
  text-align: center;
}
/*
.mb-5 {
  text-align: center;
}*/

.intro {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 15%;
  align-items: center;
}

